
@model IEnumerable<Place>

@{
   

}

<body>

    <main>
        <div class="content">

            <p>What Establishment Would You Like To View?</p>

            <form action="/place/summary">
                <input name="user_ID" type="hidden" value=@ViewData["UserID"] />
                <select name="place_ID">
                    @foreach (var p in ViewData["Places"] as IEnumerable<Place>)
                    {
                        <option value="@p.place_ID">@p.company</option>
                    }
                </select>
                <button type="submit" class="btn btn-outline-primary btn-sm">View</button>
            </form>

        </div>
        <br />
      
        @{
            var user_ID = (int)ViewData["user_ID"];
            var viewedPlace = (Place)ViewData["ViewedPlace"];
            var questionList = (IEnumerable<QuestionAvg>)ViewData["questionAvg"];
            var reviewedPlaceList = (IEnumerable<PlaceReviewed>)ViewData["reviewedPlace"];
        }
        <img style="border-color: lightslategrey; border-width:2px; border-style: solid;" src="//logo.clearbit.com/@viewedPlace.logo_ID" />
        <br />
        <br />
        <span></span>@viewedPlace.company
        <br />
        @viewedPlace.address
        <br />
        <br />
        <table class="table">
            <tr>
                <th>Questions</th>
                <th>Rating</th>

            </tr>
            @if (questionList.Count() > 0)
            {
                @foreach (var q in questionList)
                {
                    <tr>
                        <td>@q.text</td>
                        @if (q.review_count > 0)
                        {
                            <td>@Decimal.Round(q.average, 2) / 5 &#x1F637; </td>
                        }
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td> <p class="text-danger"> No Reviews</p> </td>
                    <td></td>
                </tr>
            }

        </table>
        @if (questionList.Count() > 0)
        {
            <div class="float-right">@questionList.ElementAt(0).review_count Review(s)</div>
        }

        <a href="/review?user_ID=@user_ID&place_ID=@viewedPlace.place_ID" class="btn btn-outline-success">Submit A Review</a>

        <br />
        <br />
        <br />
        <br />

        <table class=" table table-sm">
            <tr>
                <th>Place(s) you have reviewed</th>

            </tr>
            @if (reviewedPlaceList.Count() > 0)
            {
                @foreach (var company in reviewedPlaceList)
                {
                    <tr class="d-flex">
                        <td class="col-3">@company.company </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td> <p class="text-danger"> No Reviews</p> </td>
                    <td></td>
                </tr>
            }

        </table>

    </main>
    <p>
        <button class="btn btn-outline-primary" onclick="goBack()">Go Back</button>
        <script>function goBack() { window.history.back(); }</script>
    </p>

</body>





